# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Node / frontend
node_modules/
dist/
build/

# Docker
.docker/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Kubernetes secrets
*-secret.yaml